.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
    width: 95%;
    place-self: center;
}

.button {
    cursor: pointer;
}

/****************
table
****************/

.table {
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin: 25px 0;
    font-size: 16px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: var(--tertiary);
    color: var(--text-primary);
    text-align: left;
}

.table thead:first-child tr {
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:hover {
    background-color: var(--tertiary);
    filter: saturate(20%);
}
