.nav_container {
    background-color: var(--primary);
    padding: 1em;
}

.category {
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
}

.active {
    text-decoration: underline;
}

.nav_list_horizontal,
.nav_list_vertical {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 785px) {
    .nav_list_vertical {
        flex-direction: column;
        justify-content: center;
    }
}
