@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap");

:root {
    --black: rgb(12, 12, 12);
    --white: rgb(240, 240, 240);
    --primary: black;
    --secondary: white;
    --tertiary: rgba(0, 0, 0, 0.85);
    --text-primary: white;
    --text-secondary: black;
    --logo-color-filter: invert(1);
    background-color: var(--white);
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

input,
button {
    font-family: "Outfit", sans-serif;
}

body,
body * {
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
