.footer {
    background: var(--primary);
    color: var(--text-primary);
}

.logos {
    display: flex;
    flex-flow: row wrap;
    max-width: 560px;
    place-items: center;
    margin: auto;
    padding: 10px 0;
}

.img {
    padding: 5px;
    width: 80px;
    filter: var(--logo-color-filter);
}

@media (max-width: 850px) {
    .img {
        width: 60px;
    }
    .logos {
        max-width: 420px;
    }
}

@media (max-width: 480px) {
    .img {
        width: 50px;
    }
    .logos {
        max-width: 350px;
    }
}
