.container {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: minmax(8vh, auto) minmax(92vh, auto) auto;
    margin-right: 10px;
}

.nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column;
    padding: 10px 15px 10px 15px;
    align-items: center;
    width: 100%;
    z-index: 3;
    gap: 10px;
    background-color: white;
    border-bottom: 3px solid var(--primary);
}

.logo_user_nav {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

.stores_nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    row-gap: 10px;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}

/*user buttons*/
.buttons_container {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.button_cart {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    justify-self: end;
}

.link {
    all: unset;
    cursor: pointer;
}

.button_cart:hover svg {
    border-radius: 4px;
    color: var(--text-primary);
    background-color: var(--primary);
}

.button_cart svg {
    color: var(--primary);
    padding: 5px;
}

.logo {
    background-color: transparent;
    grid-area: logo;
    display: block;
}

/* Works on Firefox */
* {
    scrollbar-color: var(--primary) lightgrey;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

*::-webkit-scrollbar-track {
    background: lightgrey;
}

/* Works on Chrome, Edge, and Safari */

::-webkit-scrollbar {
    /* width */
    width: 10px;
}

::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px lightgrey;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background-color: var(--primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background-color: var(--primary);
}

::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: lightgrey;
}

@media (min-width: 360px) {
    .buttons_container {
        justify-content: flex-end;
    }
    .logo_user_nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 850px) {
    .login {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
