.error_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.link_home {
    margin-top: 10px;
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--primary);
}

.link_home:visited {
    color: var(--white);
}
