.link {
    width: fit-content;
    padding-inline: 8px;
    padding-block: 8px;
    border-radius: 4px;
    text-wrap: nowrap;
}

.inactive {
    background-color: transparent;
    color: var(--black);
}

.active {
    color: var(--text-primary);
    background-color: var(--primary);
}