.link {
    display: block;
    width: fit-content;
    padding: 8px;
    border-radius: 4px;
}

.inactive {
    background-color: transparent;
    color: var(--black);
}

.active {
    color: var(--text-primary);
    background-color: var(--primary);
}
