.main {
    display: grid;
    place-items: center;
    height: 70%;
    padding-block-start: 40px;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.changeData {
    margin-top: 20px;
}
