.container {
    display: flex;
    flex-direction: column;
    padding-block: 2em;
    width: 100%;
}

.cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-inline: 10px;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    gap: 16px;
    border: 1px solid #828282;
    padding: 16px;
    background-color: white;
}

.itemContainer:last-child {
    margin-bottom: 40px;
}

.containerContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemActions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.containerImg {
    display: block;
    break-inside: avoid-column;
    margin: auto;
    width: fit-content;
}

.productImg {
    object-fit: cover;
    aspect-ratio: 1/1.2;
    width: 85px;
}

.counterContainer {
    display: flex;
    gap: 5px;
}

.counterButton {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
}

.disableButton {
    cursor: not-allowed;
}

.quantity {
    width: 28px;
    text-align: center;
}

.itemContainer > img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.purchaseSummaryContainer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: 100;
    border-radius: 4px;
    padding: 16px;
    border: 1px solid #828282;
    font-size: 85%;
}

.paymentForm {
    background-color: white;
    padding: 10px;
    border: 1px solid #828282;
    border-radius: 4px;
}

.message {
    text-align: center;
    min-height: 200px;
}

.priceContainer {
    display: flex;
    gap: 16px;
}

.oldPrice {
    color: crimson;
    text-decoration: line-through;
}

.deleteButton {
    padding: 2px;
    background: none;
}

.deleteButton:hover {
    background: none;
}

.deleteButton svg {
    fill: var(--primary);
}

.deleteButton:hover svg {
    fill: crimson;
}

.summary {
    display: flex;
    flex-direction: column;
}

.detail {
    display: flex;
    padding-block: 8px;
    justify-content: space-between;
}

.container form {
    display: flex;
    margin: auto;
    width: 300px;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
}

.personalInfo {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.name {
    width: 60%;
}

.documentNumber {
    width: 25%;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
}

.thirdRow {
    display: flex;
    gap: 16px;
}

.expireDate {
    width: 40%;
}

.securityCode {
    width: 15%;
}

.continueButton {
    width: 100%;
}

.notificationContainer {
    display: grid;
    place-items: center;
}

.backButton {
    color: black;
}

@media (min-width: 450px) {
    .cartContainer {
        padding-inline: 3em;
    }
}

@media (min-width: 750px) {
    .container {
        flex-direction: row;
        justify-content: center;
        padding-inline: 2em;
    }

    .cartContainer {
        width: 65%;
        align-items: center;
        max-width: 1000px;
        padding-inline: 10px;
    }

    .containerContent {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .itemContainer {
        margin: 0;
    }

    .purchaseSummaryContainer {
        width: clamp(250px, 30%, 400px);
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 25px;
        max-height: 250px;
        font-size: 100%;
    }

    .paymentForm {
        padding: 16px;
    }
}
