.container {
	display: flex;
	justify-content: space-between;
	padding-inline: 4em;
	padding-block: 2em;
	width: 100%;
}

.cartContainer {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.itemContainer {
	width: 100%;
	border-radius: 4px;
	display: flex;
	gap: 16px;
	height: 150px;
	border: 1px solid #828282;
	padding-block: 16px;
	padding-inline: 8px;
	background-color: white;
}

.itemContainer>img {
	max-inline-size: 100%;
	block-size: auto;
	object-fit: cover;
}

.itemInfo {
	padding-block-start: 8px;
}

.purchaseSummaryContainer {
	width: 30%;
	display: flex;
	position: sticky;
	top: 25px;
	background-color: white;
	border-radius: 4px;
	padding: 16px;
	border: 1px solid #828282;
	max-height: 250px;
	flex-direction: column;
	justify-content: space-between;
}

.paymentForm {
	background-color: white;
	padding: 16px;
	border: 1px solid #828282;
	border-radius: 4px;
}

.message {
	text-align: center;
	min-height: 200px;
}

.priceContainer {
	display: flex;
	gap: 16px;
}

.oldPrice {
	color: crimson;
	text-decoration: line-through;
}

.summary {
	display: flex;
	flex-direction: column;
}

.detail {
	display: flex;
	padding-block: 8px;
	justify-content: space-between;
}

.container form {
	display: flex;
	margin: auto;
	width: 300px;
	flex-direction: column;
	gap: 16px;
	width: fit-content;
}

.personalInfo {
	display: flex;
	gap: 8px;
	justify-content: space-between;
}

.name {
	width: 60%;
}

.documentNumber {
	width: 25%;
}

.cardInfo {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 8px;
}


.thirdRow {
	display: flex;
	gap: 16px;
}

.expireDate {
	width: 40%;
}

.securityCode {
	width: 15%;
}

.continueButton {
	width: 100%;
}

.notificationContainer {
	display: grid;
	place-items: center;
}
