.container {
	display: flex;
	justify-content: space-evenly;
}

.container > img {
	max-inline-size: 100%;
	block-size: auto;
	object-fit: contain;

}

.infoContainer {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-block: 16px;
}

.title {
	font-size: 4em;
	text-align: center;
}

.offerPriceContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 8px;
}

.price {
	font-size: 2em;
	text-align: center;
}

.oldPrice {
	text-decoration: line-through;
	margin-block-end: 5px;
	color: crimson;
}

.field {
	display: flex;
	gap: 8px;
	align-items: center;
}

.field input {
	width: 50px;
}

.footer {
	display: flex;
	justify-content: space-between;
}
