.button {
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
}

.solid {
    background: var(--primary);
    color: var(--text-primary);
    cursor: pointer;
    transition: background 200ms;
}

.solid:hover {
    background-color: var(--tertiary);
}

.ghost {
    background-color: transparent;
    color: var(--primary);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    border: 0px;
}

.ghost:hover {
    background-color: #e3e3e3;
}

.modal {
    color: var(--text-primary);
    background-color: #009879;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    border: 0;
}

.modal:hover {
    background-color: #00987acb;
}
