.button {
	border-radius: 4px;
	border: 1px solid #828282;
	height: 35px;
}

.solid {
	background: black;
	color: var(--text-primary);
	cursor: pointer;
	transition: all 200ms;
}

.solid:hover {
	background-color: #161616;
}

.bordered {}

.ghost {
	background-color: transparent;
	color: var(--text-secondary);
	transition: all 200ms ease-in-out;
	cursor: pointer;
	border: 0px;
}

.ghost:hover {
	background-color: #e3e3e3;
}

.modal {
	color: var(--text-primary);
	background-color: #009879;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	border: 0;
}

.modal:hover {
	background-color: #00987acb;
}
